
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="page-title">Liên hệ</h1>
				<div class="breadcrumbs">
					<span class="item"><a href="index.html">Trang chủ /</a></span>
					<span class="item">Liên hệ</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="contact-information padding-large mt-3">
	<div class="container">
		<div class="row">
			<div class="col-md-6 p-0 mb-3">
				
				<h2>Liên hệ chúng tôi</h2>

				<div class="contact-detail d-flex flex-wrap mt-4">
					<div class="detail mr-6 mb-4">
						<p>Nâng cao trải nghiệm khách hàng, sự thoải mái khi mua sắm online, các vấn đề gặp phải, chúng tôi xin tiếp nhận tất cả các ý kiến của người dùng nhằm cải thiện tốt nhất trang web và nhu cầu mua sắm, đọc sách của mọi người. </p>
						<ul class="list-unstyled list-icon">
							<li><i class="icon icon-phone"></i>+1650-243-0000</li>
							<li><i class="icon icon-envelope-o"></i><a href="mailto:info@yourcompany.com">ndhungg1212@gmail.com</a></li>
							<li><i class="icon icon-location2"></i>Nội Duệ, Tiên Du, Bắc Ninh, Việt Nam</li>
						</ul>
					</div><!--detail-->
					<div class="detail mb-4">
						<h3>Mạng xã hội</h3>
						<div class="social-links flex-container">
							<a href="#" class="icon icon-facebook"></a>
							<a href="#" class="icon icon-twitter"></a>
							<a href="#" class="icon icon-pinterest-p"></a>
							<a href="#" class="icon icon-youtube"></a>
							<a href="#" class="icon icon-linkedin"></a>
						</div><!--social-links-->
					</div><!--detail-->

				</div><!--contact-detail-->
			</div><!--col-md-6-->

			<div class="col-md-6 p-0">
				
				<div class="contact-information">
					<form name="contactform" action="contact.php" method="post" class="contact-form d-flex flex-wrap mt-4">
						<div class="row">
					    	<div class="col-md-6">
								<input type="text" minlength="2" name="name" placeholder="Tên" class="u-full-width" required>
							</div>
							<div class="col-md-6">
								<input type="email" name="email" placeholder="E-mail" class="u-full-width" required>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">

								<textarea class="u-full-width" name="message" placeholder="Ý kiến của bạn" style="height: 150px;" required></textarea>

								<label>
								    <input type="checkbox" required>
								    <span class="label-body">Tôi đồng ý tất cả <a href="#">điều khoản</a></span>
								</label>

								<button type="submit" name="submit" class="btn btn-full btn-rounded">Gửi</button>
							</div>
						</div>
					</form>

				</div><!--contact-information-->

			</div><!--col-md-6-->

		</div>
	</div>
</section>

<section class="google-map">
	<div class="mapouter">
		<div class="gmap_canvas">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.471549933737!2d105.99752367343751!3d21.133624384172144!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313509d84aaf33a3%3A0xd711a74321445009!2zTuG7mWkgZHXhu4cgdGnDqm4gZHUgYuG6r2MgbmluaA!5e0!3m2!1svi!2s!4v1709110030793!5m2!1svi!2s" width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe><a href="https://getasearch.com/fmovies"></a><br><style>
																																																																																																																													  .mapouter {
																																																																																																																														  position: relative;
																																																																																																																														  text-align: right;
																																																																																																																														  height: 500px;
																																																																																																																														  width: 100%;
																																																																																																																													  }</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>
																																																		   .gmap_canvas {
																																																			   overflow: hidden;
																																																			   background: none !important;
																																																			   height: 500px;
																																																			   width: 100%;
																																																		   }</style>
		</div>
	</div>
</section>


